.heading h1{
    font-size: 40px;
    color: black;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
  }

.details{
    width: 900px;
    height: 300px;
    background-color: rgb(24, 24, 176);
    margin: 30px auto;
    border: 4px solid rgb(179, 227, 226);
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 50px;
    box-shadow: 5px 5px 5px rgb(179, 227, 226);
}
.details img{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(179, 227, 226);
    border-radius: 10%;
}
.details .data{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.title{
    font-size: 30px;
    color: rgb(179, 227, 226);
    margin: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}
.desc{
    font-size: 18px;
    color: aliceblue;
    letter-spacing: 2px;
    margin: 5px;
    text-align: center;
}
.controls{
    width: 70px;
    height: 70px;
    border: 2px solid  aqua;
    border-radius: 50%;
    padding: 10px ;
    cursor: pointer;
    background-color: rgb(179, 227, 226);
    color: black;
    margin: 20px auto;
   font-size: 20px;
}